* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand img {
    width: 50px;
}
.contenedorHeader {
    width: 100%;
}
.contendorNavegadorUno {
    margin: auto;
}
.contendorlI {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedorUls {
    width: 100%;
}
.contenedorUls .nav {
    width: 100%;
    list-style: none;
}
.contenedorUls .nav li {
    width: 100px;
    margin: 4px;
    text-align: center;
    border-radius: 8px;
    list-style: none;
    border: 1px solid rgb(148, 169, 189);
    color: black;
    position: relative;
}
.contenedorUls .nav li a {
    width: 100%;
    /* color: black; */
    text-decoration: none;
    display: block;
    height: 100%;
}
.contenedorUls .nav li:hover {
    color: white!important;
    background-color: rgb(27, 136, 238);
}
.contenedorUls .nav li:hover a {
    color: white;
    border-radius: 8px;
    background-color: rgb(27, 136, 238);
}


.contenedor-productos {
    gap: 1rem;
    /* Espaciado entre productos */
}

.tarjeta-producto-principal,
.tarjeta-producto {
    text-align: center;
}

.tarjeta-producto-principal img,
.tarjeta-producto img {
    max-width: 100%;
    border-radius: 8px;
}

.texto-producto {
    font-weight: bold;
    margin-top: 0.5rem;
}


/* General */
.contenedorPadre {
    width: 100%;
    /* background-color: red; */
    margin: auto;
}

.contenedor-carrousel {
    width: 100%;
    margin: auto;
}

.carousel-item {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Estilos para la cuadrícula */
.contenedor-productos {
    /* background-color: blue; */
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Seis columnas por defecto */
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* Producto principal */
.tarjeta-producto-principal {
    grid-column: span 2;
    /* Ocupa dos columnas */
    grid-row: span 2;
    /* Ocupa dos filas */
    /* border-radius: 8px; */
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    align-self: stretch; /* Ajusta la altura automáticamente */
}

/* Productos secundarios */
.tarjeta-producto {
    /* border-radius: 8px; */
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    align-self: stretch;
    /* Asegura que se alinee verticalmente */
}
/* Texto de los productos */
.tarjeta-producto-principal p,
.tarjeta-producto p {
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
    margin-top: -35px !important;
}

/* Efecto hover en imágenes */
.tarjeta-producto-principal img,
.tarjeta-producto img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.tarjeta-producto-principal img:hover,
.tarjeta-producto img:hover {
    border-radius: 8px;
    transform: scale(1.1);
}


.bg-image {
    background-image: url('../img/cta/IMAGENCTA.jfif');
    /* Imagen de fondo */
    background-size: cover;
    /* Para ajustar el tamaño */
    background-position: center;
    /* Centrar la imagen */
    height: 300px;
    /* Ajustar altura */
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
}
.contendorRow {
    display: flex;
    justify-content: end;
}
.bg-darki {
    background-color: rgba(60, 60, 94, 0.5);
}
.contenedor-imagen iframe {
    width: 400px;
}

/* Responsividad */
@media (max-width: 1200px) {
    .contenedor-productos {
        grid-template-columns: repeat(4, 1fr);
        /* Cuatro columnas en pantallas medianas */
    }
    .caja-ifreme iframe {
        width: 400px;
    }
    .bg-image {
        width: 100%;
    }
    .contenedor-imagen iframe {
        width: 260px;
    }
}

@media (max-width: 768px) {
    .contenedor-productos {
        grid-template-columns: repeat(3, 1fr);
        /* Dos columnas en pantallas pequeñas */
    }
    .carousel-inner img {
        /* width: 100%; */
        /* Asegura que la imagen ocupe el 100% del contenedor */
        width: auto;
        height: 200px;
        object-fit: cover;
        object-position: left;
        /* Mantiene la proporción de la imagen */
    }
    .bg-image,
    .contendorRow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tarjeta-producto-principal {
        grid-column: span 2;
        /* Mantén dos columnas en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
        /* Una columna en pantallas muy pequeñas */
    }
    .contendorRow {
        width: 100%;
    }
    .bg-image {
        width: 95%;
    }
    .bg-darki {
        width: 100%;
    }
    .bg-image, .contendorRow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .caja-ifreme iframe {
        width: 250px;
    }

}

/* Barra lateral de publicidad (oculta en tablet y móvil) */
.contenedor-imagen {
    display: none;
    /* Oculto por defecto */
}

footer {
    background-color: #222;
    color: #fff;
}

footer .logo img {
    max-width: 180px;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

footer .social-icons a {
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
    color: #e9e5e5;
    background-color: #706f6f;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

footer .social-icons a:hover {
    background-color: #dd8408;
    color: #fff;
}

footer .copyright {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 20px;
}

footer hr {
    border: 0;
    border-top: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


footer .social-icons {
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    .contenedor-imagen {
        display: block;
        background-color: lightgray;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.contendorIngresar {
    width: 100%;
    height: 100vh;
    background-image: url(../img/404/pngtree-city-earth-internet-data-blue-background-picture-image_930022.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contenedorTextoH2{
    width: 50%;
}

.contenedorTextoH2 span{
    color: red;
    font-size: 60px;
}